.user {
    padding-right: 7%
  }
  
  .imgagec {
    width: 72%;
    padding-left: 13%;
    margin-top: 7px;
    filter: brightness(5%);
  }
  
  body {
    margin: 40px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 33% 35% 35%;
    grid-gap: 10px;
    color: #444;
    margin-top: -2%;
    position: relative;
    z-index: 1;
    margin-left: 4%;
    margin-right: 9%;
    /*padding-top: 1%;*/
  }
  
  .box {
    background-color: #ffffff;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .a {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: blue;
  }
  .d {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #9da8b3;
    font-size: 15px;
    font-weight: 400;
    height: 750px;
    /* overflow: auto; */
  }
  
  .f {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    color: blue;
  }
  